// Specific CSS for your home-page

.bg {
  background-image: asset-url('Surfing-Costa-Rica-Sunset.jpg');
  /* Full height */
  height: 100vh;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
}

.banner-text {
  font-family: 'Roboto', sans-serif;
  color: white;
}

<<<<<<< HEAD

=======
>>>>>>> 8e4584c2b1e4f66ac2d64ebbecfdfec68a82e800
.btn{
margin-left:10px;
}

.search-form {
  padding-top: 50px;
}
