.bmain-container {
  margin-top: 30px;
  justify-content: center;
  display: flex;
}

.bi-row {
  width: 60%;
}

.booking-container {
  width: 100%;
  display: flex;
  border-radius: 15px;
  border: 1px solid #696666;
  margin-bottom: 35px;
  padding-right: 2vh;
  padding-bottom: 2vh;
}

.large-name {
  font-size: 28px;
  font-weight: lighter;
  color: #696666;
  margin-bottom: 2vh;
}

.left-container {
  flex-grow: 1;
  padding-left: 3vh;
  padding-top: 2vh;

}

.card-booking{
  padding: 100px;
  box-shadow: 1px 1px 2px #e7e7e7;
  border-radius: 4px;
  background-position: center;
  background-size: cover !important;
  margin-bottom: 3px;
  margin-top: 15px;
  max-width: 300px;
}


.details {
  margin-top: 2vh;
  font-size: 16px;
  margin-bottom: 10px;
  content-align: left;
}
.right-container {
  flex: 0 0 250px;
  margin-bottom: 0;

}
