    <header class="masthead text-center bg">
      <div class="bg">
        <div class="container">
          <div class="row">
            <div class="col-xl-9 mx-auto banner-text">
              <h1>EXPLORE AND ESCAPE</h1>
              <h3>Plan your luxury holiday with the activities you love</h3>
            </div>
            <div class="search-form">
              <%= form_tag(resorts_path, method: :get) do %>
              <%= text_field_tag :country %>
              <%= submit_tag 'Search', name: nil %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </header>


