
<div class="flexbox">
<!-- Carousel
================================================== -->
<div class="carousel slide" id ="slider" data-ride="carousel1">
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li class="active" data-slide-to="0" data-target="#slider"></li>
    <li data-slide-to="1" data-target="#slider"></li>
    <li data-slide-to="2" data-target="#slider"></li>
  </ol>

  <div class="carousel-inner">
    <div class="item active" id="item1" style="background-image: linear-gradient(rgba(222, 191, 153, 0.19), rgba(39, 13, 13, 0.38) ), url('https://www.myvacationpages.com/data/post-images/2013/12/the-beloved-resort.jpg')">
    </div>

    <div class="item" style="background-image: linear-gradient(rgba(222, 191, 153, 0.19), rgba(39, 13, 13, 0.38) ), url('https://www.mykonosgrand.gr/wp-content/uploads/2014/06/homepage-slide2-01-v2.jpg')">
    </div>

    <div class="item" style="background-image: linear-gradient(rgba(222, 191, 153, 0.19), rgba(39, 13, 13, 0.38) ), url('https://cdn.downunderendeavours.com/wp-content/uploads/2014/08/D112-hero2000x837-Namale_Villas_CivaDuavata_InfinityPool.jpg')">
  </div>
<div class="absolute-container">
  <h1 class="home-h1">EXPLORE AND ESCAPE</h1>
  <h3 class="home-h3">Plan your luxury holiday with the activities you love</h3>

  <div class="search-form">
          <%= form_tag(resorts_path, method: :get) do %>
          <%= text_field_tag :location, nil, placeholder: 'Where?' %>
          <%= text_field_tag :feature, nil, placeholder: 'What activity?' %>
          <%= submit_tag 'Search', name: nil, class:"submit" %>
          <% end %>
  </div>
</div>

  <!-- Controls -->
  <a class="left carousel-control" href="#slider" data-slide="prev" role="button"><span class=" icon-prev"></span></a>


 <a class="right carousel-control" href="#slider" data-slide="next" role="button"><span class=" icon-next"></span></a>

</div>
</div>


